In [1]:
2+2

4

In [2]:
2*2

4

In [3]:
5*5

25

In [4]:
hello wrold

SyntaxError: invalid syntax (<ipython-input-4-46a2faf364e5>, line 1)

In [5]:
"Hello world"

'Hello world'

In [6]:
# Do not run

In [9]:
b = 100

In [10]:
b

100

In [11]:
x = 100

In [12]:
x

100

In [13]:
x = 200

In [14]:
x

200

In [15]:
x = 100
x = 200

In [16]:
x

200

In [17]:
x = 10 
y = 10
z = x + y
z
a = x-y
a

0

In [18]:
z

20

In [19]:
a

0

In [20]:
z and a

0

In [21]:
print (z)

20

In [22]:
x=10
x=x+1
x

11

In [23]:
x=10
x=x-1
x

9

In [24]:
x=10
x +=1
x

11

In [25]:
x=10
x -=1
x

9

In [26]:
hi = "Hello world"
hi

'Hello world'

In [27]:
my_float = 2.2
my_float

2.2

In [28]:
cake cake = 2.2
cake cake

SyntaxError: invalid syntax (<ipython-input-28-ad149002933a>, line 1)

In [29]:
#This code has an error.
my_string = "hello world'

SyntaxError: EOL while scanning string literal (<ipython-input-29-3fd30a4b0ef7>, line 2)

In [30]:
2/0

ZeroDivisionError: division by zero

In [31]:
y=2
      x=3

IndentationError: unexpected indent (<ipython-input-31-373474baa176>, line 2)

In [32]:
13//5

2

In [33]:
13/5

2.6

In [34]:
13%5

3

In [35]:
#even
12%2

0

In [36]:
#odd
11%2

1

In [37]:
2**4

16

In [38]:
2+2*2

6

In [39]:
(2+2)*2

8

In [40]:
100<10

False

In [41]:
100>10

True

In [2]:
if 10>15:
    print ("poo")
else:
    print ("pee")

pee

In [4]:
2>=3

False

In [46]:
2<=2

True

In [47]:
2=2

SyntaxError: can't assign to literal (<ipython-input-47-f987af612b42>, line 1)

In [48]:
2==2

True

In [49]:
2!=2

False

In [50]:
2!=3

True

In [51]:
x = 100
x==100

True

In [52]:
x=99
x==100

False

In [53]:
1==1 and 2==2

True

In [54]:
1==1 and 2==3

False

In [55]:
1==1 or 2==3

True

In [56]:
1==1 and 2!=3 and 3<4

True

In [57]:
not 1==1

False

In [58]:
not 1==2

True

In [7]:
password = "Hello"
if password =="Hello":
    print("Correct")
else:
    print("Not correct")

Correct

In [11]:
password = input("What is the password?")
if password == "hello":
    print ("password acceptet")
else:
    print ("the password is fucking wrong")

What is the password?hello
password acceptet

In [61]:
password = raw_input("Enter the password:")

NameError: name 'raw_input' is not defined

In [62]:
a = "poo"

In [6]:
a = "poo"
if a == "hello":
    print ("password acceptet")
else:
    print("the password is fucking wrong")

the password is fucking wrong

In [69]:
# Do not run

home = "America"
if home == "America":
    print("true")
else:
    print("false")

true

In [71]:
x=2
if x==2:
    print("true")
else:
    print("false")

true

In [72]:
home = "Canada"
if home == "America":
    print("true")
else:
    print("poooo")

poooo

In [15]:
x = input("What number?")
if x == 2:
    print("The number is 2")
elif x%2 == 0:
    print("The number is even")
elif x%2 != 0:
    print("The bumber is odd")
else:
    print("That's impossible")

What number?3

TypeError: not all arguments converted during string formatting

In [75]:
x = 10
Y = 11

if x == 10:
    if y == 11:
        print(x+y)

In [76]:
x = 10
Y = 11

if x == 10:
    if y == 11:
        print(x+y)

In [77]:
x = 10
Y = 11

In [78]:
if x == 10:
    if y == 11:
        print(x+y)

In [79]:
print(x+y)

20

In [80]:
x+y

20

In [82]:
home = "Poo"

if home == "Japan":
    print("Hello Japan!")
elif home == "Thailand":
    print ("Hello sexy!")
elif home == "Sweden":
    print ("Hello wanker")
else:
    print ("WTF!!")

WTF!!

In [85]:
home = "Poo"

if home == "Japan":
    print("Hello Japan!")
elif home == "Thailand":
    print ("Hello Thailand!")
elif home == "Sweden":
    print ("Hello wanker")
else:
    print ("WTF!!")
    
if home == "Japan":
    print ("poo")
else:
    print ("I don't know which country...")

WTF!!
I don't know which country...

In [86]:
print ("pee")
print ("poo")
print ("poe")

pee
poo
poe

In [87]:
a = 10
if a < 11:
    print ("such a small number")
else:
    print ("wow")

such a small number

In [92]:
a = 11

if a <= 10:
    print ("such a small number")
else:
    print ("wow")

if a >= 10:
    print ("cool")
else:
    print ("wow")
    
a = 11
if a > 10 and a <= 25:
    print ("this is amazing")
else:
    print ("wow")

wow
cool
this is amazing

In [93]:
20//5

4

In [94]:
22//5

4

In [95]:
22%%4

SyntaxError: invalid syntax (<ipython-input-95-1ac523813dc6>, line 1)

In [96]:
22%4

2

In [97]:
23%4

3

In [102]:
age = 25

if age == 23:
    print ("Correct")
elif age == 24:
    print ("Too old")
elif age == 22:
    print("Too young")
else:
    print("I have no idea")

I have no idea

In [3]:
2+2

4

In [4]:
2+2

4

In [6]:
age = 25

if age == 25:
    print ("Awesome")
else:
    print ("Weird")

Awesome

In [8]:
Anastasia = "cute"

if Anastasia == "cute":
    print ("I love Anastasia")
else:
    print ("That's weird")

I love Anastasia

In [9]:
Todays_weather = 14

if Todays_weather > 15:
    print ("it's pretty hot")
elif Todays_weather < 15 and Todays_weather > 5:
    print ("it's okay weather")
else:
    print ("it's freezing")

it's okay weather

In [2]:

def f(x):
    return x + 1


z = f(4)


if z == 5:
    print("z is 5")
else:
    print("z is not 5")

z is 5

In [3]:
def f():
    return 1+1

result = f()
print(result)

2

In [6]:
def f(x, y, z):
    return x * y * z

result =f(4, 2, 3)
print(result)

24

In [7]:
def f():
    z = 1 + 1
    
result = f()
print(result)

None

In [8]:
len ("monty")

5

In [9]:
len ("python")

6

In [10]:
str (100)

'100'

In [11]:
int("1")

1

In [12]:
float(100)

100.0

In [13]:
float("100")

100.0

In [14]:
int("prince")

ValueError: invalid literal for int() with base 10: 'prince'

In [15]:
age = input("enter your age:")
int_age = int(age)
if int_age < 21:
    print("You are young!")
else:
    print("Wow, you are old!")

enter your age:35
Wow, you are old!

In [16]:
love = input("Enter the person you love:")
string_love = str(love)
if string_love == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:Anastasia
That's cute!

In [17]:
love = input("Enter the person you love:")
string_love = str(love)
if string_love == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:Myself
That's weird...

In [18]:
love = input("Enter the person you love:")
string_love = love
if string_love == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:Anastasia
That's cute!

In [19]:
love = input("Enter the person you love:")
x = love
if x == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:myself
That's weird...

In [20]:
love = input("Enter the person you love:")
if love == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:Anastasia
That's cute!

In [21]:
def even_odd(x):
    if x%2 == 0:
        print("even")
    else:
        print("odd")
        
even_odd(2)

even

In [22]:
even_odd(3)

odd

In [25]:
n = input("type a number")
n = int(n)


if n % 2 == 0:
    print("n is even.")
else:
    print("n is odd.")


n = input("type a number")
n = int(n)
if n % 2 == 0:
    print("n is even.")
else:
    print("n is odd.")


n = input("type a number")
n = float(n)
if n % 2 == 0:
    print("n is even.")
else:
    print("n is odd.")

type a number4
n is even.
type a number5
n is odd.
type a number8.8
n is odd.

In [27]:
def even_odd():
    n = input ("type a number:")
    n = int(n)
    if n % 2 == 0:
        print("n is even")
    else:
        print("n is odd")
        
even_odd()
even_odd()
even_odd()

type a number:3
n is odd
type a number:4
n is even
type a number:5
n is odd

In [28]:
def love():
    love = input("Enter the person you love:")
    if love == "Anastasia":
        print("That's cute!")
    else:
        print("That's weird...")

love()
love()

Enter the person you love:Anastasia
That's cute!
Enter the person you love:Myself
That's weird...

In [29]:
def f(x=2):
    return x**x

print(f())
print(f(4))

4
256

In [31]:
def add_it (x, y=10):
    return x + y
    
result = add_it(2)
print(result)

12

In [32]:
x = 1
y = 2
z = 3

def f():
    print(x)
    print(z)
    print(y)
    
f()

1
3
2

In [33]:
def f():
    x = 8
    Y = 5
    z = 29
    print(x)
    print(z)
    print(y)
    
f()

8
29
2

In [34]:
x = 1
y = 2
z = 3

def f():
    print(x)
    print(z)
    print(y)
    
f()

1
3
2

In [35]:
if x < 100:
    print("x is less than 100")

x is less than 100

In [36]:
x = 100


def f():
    global x
    x += 1
    print(x)
    
f()

101

In [10]:
x = 100


def f():
    global x
    x += 1
    print(x)
    
f()

101

In [38]:
a = input("type a number:")
b = input("type another:")
a = int(a)
b = int(b)
print(a / b)

type a number:8
type another:3
2.6666666666666665

In [39]:
a = input("type a number:")
b = input("type another:")
a = int(a)
b = int(b)
print(a / b)

type a number:8
type another:0

ZeroDivisionError: division by zero

In [41]:
a = input("type a number:")
b = input("type another:")
a = int(a)
b = int(b)
try:
    print(a / b)
except ZeroDivisionError:
    print("b cannot be zero")

type a number:8
type another:0
b cannot be zero

In [44]:
try:
    a = input("type a number:")
    b = input("type another:")
    a = int(a)
    b = int(b)
    print(a / b)
except (ZeroDivisionError,ValueError):
    print("Invalid input")

type a number:8
type another:o
Invalid input

In [50]:
def add(x, y):
    """
    Returns x + y
    :param x: int
    :param y: int
    :return: int sum of x and Y
    """
    return (x+Y)

In [51]:
x = 100 
print(x)

100

In [52]:
print(100)

100

In [53]:
100

100

In [54]:
def squared(x):
    return x**2
print (squared(2))

4

In [55]:
def print_string(string):
    print(string)
    
print_string("Testing, 1, 2, 3")

Testing, 1, 2, 3

In [56]:
def add_it (a, b, c, x=150, y=10):
    return a + b +c + x + y
    
result = add_it(2, 5, 7)
print(result)

174

In [57]:
def divided_int (x):
    return x/2
def multiple_int (x):
    return x*4

y = divided_int(4)
z = multiple_int(y)

print(z)

8.0

In [60]:
def convert(string):
    try:
        return float(string)
    except ValueError:
        print ("Could not convert this to a float")
    
c = convert("100")
print(c)

100.0

In [61]:
    def love():
    love = input("Enter the person you love:")
    if love == "Anastasia":
        print("That's cute!")
    else:
        print("That's weird...")

love()
love()

IndentationError: expected an indented block (<ipython-input-61-c484ef9b6e0a>, line 2)

In [62]:
love = input("Enter the person you love:")
string_love = str(love)
if string_love == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:Anastasia
That's cute!

In [63]:
love = input("Enter the person you love:")
string_love = str(love)
if string_love == "Anastasia":
    print("That's cute!")
else:
    print("That's weird...")

Enter the person you love:Myself
That's weird...

In [64]:
"Hello".upper()

'HELLO'

In [65]:
"Hello".replace("o","@")

'Hell@'

In [66]:
fruit = list()
fruit

[]

In [67]:
fruit = []
fruit

[]

In [68]:
fruit = ["Apple", "Orange", "Pear"]
fruit

['Apple', 'Orange', 'Pear']

In [69]:
fruit = ["Apple", "Orange", "Pear"]
fruit.append("Banana")
fruit.append("Peace")
fruit

['Apple', 'Orange', 'Pear', 'Banana', 'Peace']

In [70]:
random = []
random.append(True)
random.append(100)
random.append(1.1)
random.append("Hello")
random

[True, 100, 1.1, 'Hello']

In [71]:
fruit = ["Apple", "Orange", "Pear"]
fruit[0]
fruit[1]
fruit[2]

'Pear'

In [72]:
fruit[1]

'Orange'

In [73]:
fruit[4]

IndexError: list index out of range

In [74]:
fruit = ["Apple", "Orange", "Pear"]
fruit[2] = ("Peach")
fruit

['Apple', 'Orange', 'Peach']

In [75]:
fruit = ["Apple", "Orange", "Pear"]
item = fruit.pop()
item

'Pear'

In [76]:
fruit

['Apple', 'Orange']

In [77]:
fruit1 = ["Apple", "Orange", "Pear"]
fruit2 = ["Peace", "Banana", "Mango"]
fruit1 + fruit2

['Apple', 'Orange', 'Pear', 'Peace', 'Banana', 'Mango']

In [78]:
fruit2 = ["Peace", "Banana", "Mango"]
"Banana" in fruit2

True

In [79]:
"Mango" not in fruit2

False

In [80]:
"Apple" not in fruit2

True

In [81]:
len(fruit2)

3

In [82]:
fruit = ["Peach", "Banana", "Mango"]

guess = input("Guess a fruit:")

if guess in fruit:
    print("You guessed correctly!")
else:
    print("Wrong! Try again.")

Guess a fruit:Mango
You guessed correctly!

In [83]:
my_tuple = tuple()
my_tuple

()

In [84]:
my_tuple = ()
my_tuple

()

In [85]:
rndm = ("M.Jackson", 1958, True)
rndm

('M.Jackson', 1958, True)

In [88]:
# this is a tuple
(9,)

#this is not a tuple
(9)+1

10

In [90]:
(9,)

(9,)

In [91]:
dys = ("1984", "Brave New World","Fahrenheit 451")
dys[1]

'Brave New World'

In [92]:
dys[1]=("Handmaids Tale")

TypeError: 'tuple' object does not support item assignment

In [93]:
"1984" in dys

True

In [94]:
"Handmaids tale" not in dys

True

In [95]:
my_dict = dict()
my_dict

{}

In [96]:
my_dict = {}
my_dict

{}

In [100]:
movies = {"1984","Brave New World","Fahrenheit 451"}
movies

{'1984', 'Brave New World', 'Fahrenheit 451'}

In [104]:
movies = {"1984":"Brave New World","Fahrenheit 451":"Handmaids Tale"}
movies

{'1984': 'Brave New World', 'Fahrenheit 451': 'Handmaids Tale'}

In [108]:
facts = dict()

facts["code"] = "fun"
facts["code"]

'fun'

In [109]:
facts["Bill"] = "Gates"
facts["Bill"]

'Gates'

In [110]:
facts["founded"] = 1776
facts["founded"]

1776

In [111]:
bill = {"Bill Gates":"charitable"}

"Bill Gates" in bill

True

In [112]:
"Bill Doors" not in bill

True

In [115]:
movies = {"1984":"Orwell","Fahrenheit 451":"Michael Moore","Bruce Miller":"Handmaids Tale"}
del movies["1984"]
movies

{'Fahrenheit 451': 'Michael Moore', 'Bruce Miller': 'Handmaids Tale'}

In [116]:
rhymes = {"1":"fun", "2":"blue", "3":"me", "4":"floor","5":"live"}

n = input("Type a number:")
if n in rhymes:
    rhyme = rhymes[n]
    print(rhyme)
else:
    print("Not found")

Type a number:3
me

In [118]:
songs = {"Let it be":"Beatles","Your Song":"Elton John","Yellow":"Coldplay"}
n = input("Type a song:")
if n in songs:
    song = songs[n]
    print(song)
else:
    print("Not found")

Type a song:Yellow
Coldplay

In [119]:
songs = {"Let it be":"Beatles","Your Song":"Elton John","Yellow":"Coldplay"}
n = input("Type a song:")
if n in songs:
    song = songs[n]
    print(song)
else:
    print("Not found")

Type a song:Yeah
Not found

In [120]:
lists = []

rap = ["Kanye West", "Jay Z", "Eminem", "Nas"]

rock = ["Rolling Stones", "Led Zeppelin", "AC/DC"]

djs = "Avicii", "Kygo", "Alan Walker"

lists.append(rap)
lists.append(rock)
lists.append(djs)

print(lists)

[['Kanye West', 'Jay Z', 'Eminem', 'Nas'], ['Rolling Stones', 'Led Zeppelin', 'AC/DC'], ('Avicii', 'Kygo', 'Alan Walker')]

In [121]:
rap = lists[0]
print(rap)

['Kanye West', 'Jay Z', 'Eminem', 'Nas']

In [122]:
djs = lists[2]
print(djs)

('Avicii', 'Kygo', 'Alan Walker')

In [123]:
rap = lists[0]
rap.append("Lil Wayne")
print(rap)

['Kanye West', 'Jay Z', 'Eminem', 'Nas', 'Lil Wayne']

In [124]:
print(lists)

[['Kanye West', 'Jay Z', 'Eminem', 'Nas', 'Lil Wayne'], ['Rolling Stones', 'Led Zeppelin', 'AC/DC'], ('Avicii', 'Kygo', 'Alan Walker')]

In [126]:
locations = []

LA = (34.0522, 188.2437)
Chicago = (41.8781, 87.6298)

locations.append(LA)
locations.append(Chicago)

print(locations)

[(34.0522, 188.2437), (41.8781, 87.6298)]

In [127]:
Funny = ["Wodehouse", "Sedaris"]

Interesting = ["Rosling", "Harari"]

authors = (Funny, Interesting)
print(authors)

(['Wodehouse', 'Sedaris'], ['Rosling', 'Harari'])

In [128]:
birthday = {"Anastasia":"5.12.1983", "Oscar":"9.9.1984"}

my_list = [birthday]
print(my_list)

[{'Anastasia': '5.12.1983', 'Oscar': '9.9.1984'}]

In [129]:
my_tuple = (birthday,)
print(my_tuple)

({'Anastasia': '5.12.1983', 'Oscar': '9.9.1984'},)

In [143]:
Ny = {"location":(40.7128, 74.0059), "celebs":["Jerry Seinfeld","Jay Z", "Walt Whitman"],"facts":{"state":"New York", "country":"America"}}
print(Ny)

{'location': (40.7128, 74.0059), 'celebs': ['Jerry Seinfeld', 'Jay Z', 'Walt Whitman'], 'facts': {'state': 'New York', 'country': 'America'}}

In [144]:
Favorite_musician = ["Coldplay", "Ed Sheeran", "SHM"]
print(Favorite_musician)

['Coldplay', 'Ed Sheeran', 'SHM']

In [150]:
Cities = [(63.82842, 20.25972),(59.329323, 18.06858)]
print(Cities)

[(63.82842, 20.25972), (59.329323, 18.06858)]

In [ ]:
Myself = {"height":"1.90", "favorite sport":"football", "favorite tv show":"Seinfeld"}
print(Myself)

In [ ]:
Myself = {"height":"1.90", "favorite sport":"football", "favorite tv show":"Seinfeld"}
Answer = input("Ask about me:")
if Answer in Myself:
    result = Myself[Answer]
    print(result)
else:
    print("No idea")

In [ ]:
Myself = {"height":"1.90", "favorite sport":"football", "favorite tv show":"Seinfeld"}
Answer = input("Ask about me:")
if Answer in Myself:
    result = Myself[Answer]
    print(result)
else:
    print("No idea")

In [ ]:
Myself = {"height":"1.90", "favorite sport":"football", "favorite tv show":"Seinfeld"}
Answer = input("Ask about me:")
if Answer in Myself:
    result = Myself[Answer]
    print(result)
else:
    print("No idea")

In [3]:
Favorite_songs = {"Taylor Swift":"Blank Space","Coldplay":"Viva la vida"}
print(Favorite_songs)

{'Taylor Swift': 'Blank Space', 'Coldplay': 'Viva la vida'}

In [11]:
Myself = {"height":"1.90", "favorite sport":"football", "favorite tv show":"Seinfeld"}
Answer = input("Ask about me:")
if Answer in Myself:
    result = Myself[Answer]
    print(result)
else:
    print("No idea")

Ask about me:height
1.90

In [1]:
"""line one
    line two
    line three
"""

'line one\n    line two\n    line three\n'

In [2]:
author = "Kafka"
author[0]
author[1]
author[2]
author[3]
author[4]

'a'

In [3]:
author[0]

'K'

In [4]:
author[-2]

'k'

In [5]:
"cat"+"in"+"hat"

'catinhat'

In [6]:
"cat" + "in" + "the" + "hat"

'catinthehat'

In [7]:
"Arsenal"*3

'ArsenalArsenalArsenal'

In [9]:
"Paradise Hotel".upper()

'PARADISE HOTEL'

In [10]:
"MCUZE".lower()

'mcuze'

In [11]:
"såja".capitalize()

'Såja'

In [14]:
"Kristian {}".format ("Täljeblad")

'Kristian Täljeblad'

In [15]:
last="Täljeblad"
"Kristian {}".format(last)

'Kristian Täljeblad'

In [18]:
person="Kristian Täljeblad"
show="Paradise Hotel"
"{} vann aldrig {}".format(person, show)

'Kristian Täljeblad vann aldrig Paradise Hotel'

In [20]:
n1 = input("Enter a noun:")
v = input("Enter a verb:")
adj = input("Enter an adj:")
n2 = input("Enter a noun:")

r = " The {} {} the {} {}".format(n1, v, adj, n2)

print(r)

Enter a noun:kula
Enter a verb:slänga
Enter an adj:krossad
Enter a noun:sedlar
 The kula slänga the krossad sedlar

In [21]:
"Jag vann PH".split(" ")

['Jag', 'vann', 'PH']

In [22]:
"Först vann jag PH. Sedan var jag med i Studio PH".split(".")

['Först vann jag PH', ' Sedan var jag med i Studio PH']

In [25]:
r="love"
result = "+".join(r)
result

'l+o+v+e'

In [26]:
"love".join("+")

'+'

In [27]:
words = ["Jag", "vann", "PH"]
sentence ="".join(words)
sentence

'JagvannPH'

In [28]:
words = ["Jag", "vann", "PH"]
sentence =" ".join(words)
sentence

'Jag vann PH'

In [29]:
word ="      PH       "
word =word.strip()
word

'PH'

In [30]:
värdiga = "Alla finalister är värdiga vinnare."
värdiga=värdiga.replace("a", "@")
värdiga

'All@ fin@lister är värdig@ vinn@re.'

In [31]:
"Paradise Hotel".index("i")

5

In [32]:
try:
    "Paradise Hotel".index("z")
except:
    print("Not found.")

Not found.

In [33]:
"Paradise" in "Paradise Hotel"

True

In [34]:
"Smail" in "Paradise Hotel"

False

In [35]:
"ise" in "Paradise hotel"

True

In [36]:
"Potter" not in "Harry"

True

In [43]:
"Hermione said "It is dangerous Harry""

SyntaxError: invalid syntax (<ipython-input-43-07819422aa28>, line 1)

In [42]:
"Hermione said \"It is dangerous Harry\""

'Hermione said "It is dangerous Harry"'

In [44]:
"Hermione said 'It is Dangerous Harry'"

"Hermione said 'It is Dangerous Harry'"

In [45]:
'Hermione said "It is Dangerous Harry"'

'Hermione said "It is Dangerous Harry"'

In [47]:
print("line1\nline2\nline3")

line1
line2
line3

In [48]:
print("Harry\nHermione\nRon")

Harry
Hermione
Ron

In [49]:
char = ["Harry", "Ron", "Hermione", "Fred", "Snape", "Dumbledore", "Voldemort"]
char[0:5]

['Harry', 'Ron', 'Hermione', 'Fred', 'Snape']

In [50]:
char[0:7]

['Harry', 'Ron', 'Hermione', 'Fred', 'Snape', 'Dumbledore', 'Voldemort']

In [53]:
Sirius = "We all got both light and dark inside us."
Sirius[0:15]

'We all got both'

In [54]:
Sirius[15:40]

' light and dark inside us'

In [55]:
Sirius[:15]

'We all got both'

In [56]:
Sirius[15:]

' light and dark inside us.'

In [57]:
Sirius[:]

'We all got both light and dark inside us.'

In [58]:
name = "Camus"
name[0]

'C'

In [59]:
name[1]

'a'

In [62]:
Happiness ="can be found even in the darkest times"
When = "one only remembers to turn on the light"

"Happiness {}, when {}.".format(Happiness, When)

'Happiness can be found even in the darkest times, when one only remembers to turn on the light.'

In [63]:
Happiness = input("Can happiness be found?")
When = input("When can happiness be found?")

"{},{}.".format(Happiness, When)

Can happiness be found?Happiness can be found even in the darkest times
When can happiness be found?when one only remebers to turn on the light

'Happiness can be found even in the darkest times,when one only remebers to turn on the light.'

In [64]:
"harry Potter was born 1980".capitalize()

'Harry potter was born 1980'

In [66]:
"Where now? Who now? When now?".split("?")

['Where now', ' Who now', ' When now', '']

In [80]:
"albus dumbledore".title()

'Albus Dumbledore'

In [78]:
words = ["Ron", "cried", "when", "he", "saw", "the", "spider", "."]
sentence = " ".join(words)
sentence

'Ron cried when he saw the spider.'

In [79]:
"It's Leviosa. Not Leviosar".replace("o", "$")

"It's Levi$sa. N$t Levi$sar"

In [81]:
"Hogwarth".index("w")

3

In [84]:
Quote1 = "Uh, Hagrid, what exactly are these things? "
Quote2 = "They're Goblins Harry. Clever as they come, they're not the most friendly of Beasts"
Quote1 + Quote2

"Uh, Hagrid, what exactly are these things? They're Goblins Harry. Clever as they come, they're not the most friendly of Beasts"

In [86]:
"Why spiders? "*3

'Why spiders? Why spiders? Why spiders? '

In [87]:
a="Why spiders?"
b="Why spiders?"
c="Why spiders?"
a+b+c

'Why spiders?Why spiders?Why spiders?'

In [92]:
Neville = "I'LL JOIN YOU WHEN HELL FREEZES OVER! DUMBLEDORE'S ARMY!"
Neville[:37]

"I'LL JOIN YOU WHEN HELL FREEZES OVER!"

In [1]:
name = "Larry"
for charachter in name:
    print(charachter)

L
a
r
r
y

In [3]:
shows = ["Curb", "Seinfeld", "Comedians in Cars"]
for show in shows:
    print(show)

Curb
Seinfeld
Comedians in Cars

In [4]:
shows = ("Curb", "Seinfeld", "Comedians in Cars")
for show in shows:
    print(show)

Curb
Seinfeld
Comedians in Cars

In [6]:
people = {"Newman":"Seinfeld", "Jeff":"Curb", "Jerry":"Comedians in Cars"}
for charachter in people:
    print(charachter)

Newman
Jeff
Jerry

In [7]:
tv = ["Curb", "Seinfeld", "Comedians in Cars"]
i = 0
for show in tv:
    new = tv[i]
    new = new.upper()
    tv[i]= new
    i += 1
    
print(tv)

['CURB', 'SEINFELD', 'COMEDIANS IN CARS']

In [8]:
tv = ["Curb", "Seinfeld", "Comedians in Cars"]
for i, show in enumerate(tv):
    new = tv[i]
    new = new.upper()
    tv[i]= new
    
print(tv)

['CURB', 'SEINFELD', 'COMEDIANS IN CARS']

In [10]:
legends = ["Larry", "Leon", "Richard"]
sidekicks = ["Jeff", "Funkhouser", "Susie"]
all_people= []

for people in legends:
    people = people.upper()
    all_people.append(people)
    
for people in sidekicks:
    people = people.upper()
    all_people.append(people)
    
print(all_people)

['LARRY', 'LEON', 'RICHARD', 'JEFF', 'FUNKHOUSER', 'SUSIE']

In [11]:
print(legends)

['Larry', 'Leon', 'Richard']

In [12]:
print(sidekicks)

['Jeff', 'Funkhouser', 'Susie']

In [17]:
legends2 = [l.upper()for l in legends]
print(legends2)

['LARRY', 'LEON', 'RICHARD']

In [18]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
x = 10
while x > 0:
    print('{}'.format(x))
    x -= 1
print("Pretty, pretty, good")

10
9
8
7
6
5
4
3
2
1
Pretty, pretty, good

In [22]:
x = 10
while x > 0:
    print('{}'.format(x))
    x -= 2
print("Pretty, pretty, good")

10
8
6
4
2
Pretty, pretty, good

In [25]:
for i in range (1,100):
    print(i)
    break

1

In [26]:
question = ["Is it a bad thing?", "Can I tell you something about apricots?", "So your last name is Black?"]
n = 0
while True:
    print("Type q to quit")
    a = input(question[n])
    if a == "q":
        break
    n = (n+1)%3

Type q to quit
Is it a bad thing?No
Type q to quit
Can I tell you something about apricots?Of course
Type q to quit
So your last name is Black?Yeah
Type q to quit
Is it a bad thing?q

In [27]:
for i in range(1,6):
    if i ==3:
        continue
    print(i)

1
2
4
5

In [29]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [31]:
i = 1
while i < 5:
    if i ==3:
        i += 1
        continue
    print(i)
    i +=1

1
2
4

In [32]:
for i in range(1,3):
    print(i)
    for letter in ["C", "u", "r", "b"]:
        print(letter)

1
C
u
r
b
2
C
u
r
b

In [34]:
list1 = [1, 2, 3, 4]
list2 = [4, 6, 7, 8]
added =[]
for i in list1:
    for j in list2:
        added.append(i+j)
print(added)

[5, 7, 8, 9, 6, 8, 9, 10, 7, 9, 10, 11, 8, 10, 11, 12]

In [35]:
while input('y or n?') != "n":
    for i in range(1,6):
        print(i)

y or n?y
1
2
3
4
5
y or n?n

In [36]:
sidekicks = ["Leon", "Jeff", "Richard Lewis", "Jon Hamm", "Mocha Joe"]
for person in sidekicks:
    print(person)

Leon
Jeff
Richard Lewis
Jon Hamm
Mocha Joe

In [37]:
for i in range(25,51):
    print(i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [38]:
sidekicks = ["Leon", "Jeff", "Richard Lewis", "Jon Hamm", "Mocha Joe"]
for index, person in enumerate(sidekicks):
    print(person)
    print(index)

Leon
0
Jeff
1
Richard Lewis
2
Jon Hamm
3
Mocha Joe
4

In [39]:
sidekicks = ["Leon", "Jeff", "Richard Lewis", "Jon Hamm", "Mocha Joe"]
for index, person in enumerate(sidekicks):
    print(index, person)

0 Leon
1 Jeff
2 Richard Lewis
3 Jon Hamm
4 Mocha Joe

In [40]:
while True:
    answer = input("Do you want to quit?")
    if answer == "Yes":
        break
    print("pretty pretty good")

Do you want to quit?No
pretty pretty good
Do you want to quit?No
pretty pretty good
Do you want to quit?Yes

In [41]:
people = ["Larry", "Mocha Joe", "Ted Danson"]

while True:
    answer = input("Guess a person or quit")
    if answer == "Quit":
        break
    if answer in people:
        print("You guessed correctly")
    else:
        print("You guessed wrong")

Guess a person or quitLarry
You guessed correctly
Guess a person or quitJeff
You guessed wrong
Guess a person or quitMocha Joe
You guessed correctly
Guess a person or quitQuit

In [43]:
list1 = [8, 9, 148, 4]
list2 = [9,1,33,83]
list3 = []

for i in list1:
    for j in list2:
        list3.append(i*j)
print(list3)

[72, 8, 264, 664, 81, 9, 297, 747, 1332, 148, 4884, 12284, 36, 4, 132, 332]

In [16]:
import math

In [17]:
import math

math.pow(2,3)

8.0

In [19]:
import random

random.randint(0,100)

49

In [20]:
import statistics

nums = [1,5,33,12,46,33,2]
statistics.mean(nums)

18.857142857142858

In [21]:
statistics.median(nums)

12

In [22]:
statistics.mode(nums)

33

In [23]:
import keyword

keyword.iskeyword("for")

True

In [24]:
keyword.iskeyword("football")

False

In [2]:
import hello

hello.print_hello()

hello

In [16]:
import sys
sys.path

['C:\\Users\\seosob02',
 'C:\\Users\\seosob02\\Desktop\\Diverse\\Övrigt\\Python',
 'C:\\Users\\seosob02',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\seosob02\\.ipython']

In [3]:
import cubed

result = cubed.cube_it(4)

print(result)

64

In [1]:
import os

os.path.join("Users", "bob", "st.txt")

'Users\\bob\\st.txt'

In [2]:
st = open("st.txt", "w")
st.write("Hi from Python!")
st.close()

In [4]:
with open("st.txt", "w") as f:
    f.write("Hello from python!")

In [5]:
with open("st.txt", "r") as f:
    print(f.read())

Hello from python!

In [7]:
my_list= list()
with open("st.txt", "r")as f:
    my_list.append(f.read())
    
print(my_list)

['Hello from python!']

In [9]:
import csv

with open("st.csv", "w", newline = '') as f:
    w = csv.writer(f, delimiter=",")
    w.writerow(["one", "two", "three"])
    w.writerow(["four", "five", "six"])

In [11]:
with open ("st.csv", "r") as f:
    print(f.read())

one,two,three
four,five,six

In [26]:
with open("Webförs.csv", "r") as f:
    print(f.read())

1570;;;;;1269,00;600667
1570;;;;;519,00;600668
1570;;;;;519,00;600669
1570;;;;;519,00;600670
1570;;;;;1769,00;600671
1570;;;;;1019,00;600672
1570;;;;;9269,00;600673
1570;;;;;1769,00;600674
1570;;;;;519,00;600675
3507;920;;;;-136,80;200511-200517 Klarna web
2610;;;;;-34,20;200511-200517 Klarna web
2813;;;;;17000,00;200511-200517 Webförs
2813;;;;;-17000,00;200511-200517 Webförs
2894;;;;;-17000,00;Jetshop 200511-200517

In [27]:
import pandas as pd

read_file = pd.read_csv(r'C:\Users\seosob02\SEB.csv')
read_file.to_excel (r'C:\Users\seosob02\SEB.xlsx', index = None, header=True)

In [30]:
data=pd.read_excel('Huvudbok februari.xlsx')

In [31]:
data

,Konto,Benämning,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,IB+Isaldo,Debet,Kredit,Utg Saldo
0,1070,Goodwill,NaN,NaN,NaN,NaN,NaN,8600000,0.000000e+00,0.000000e+00,8.600000e+06
1,1079,Ackumulerade avskrivningar på,NaN,NaN,NaN,NaN,NaN,-8600000,0.000000e+00,0.000000e+00,-8.600000e+06
2,1110,Byggnader,NaN,NaN,NaN,NaN,NaN,84363532,0.000000e+00,0.000000e+00,8.436353e+07
3,1119,Ack avsk byggnader,NaN,NaN,NaN,NaN,NaN,-34136425,0.000000e+00,3.293550e+05,-3.446578e+07
4,1120,Investeringar i annans fastigh,NaN,NaN,NaN,NaN,NaN,5385773,0.000000e+00,0.000000e+00,5.385773e+06
5,1129,Ack avsk investering annans fa,NaN,NaN,NaN,NaN,NaN,-2131156,0.000000e+00,2.229100e+04,-2.153447e+06
6,1130,Mark,NaN,NaN,NaN,NaN,NaN,17831700,0.000000e+00,0.000000e+00,1.783170e+07
7,1150,Markanläggningar,NaN,NaN,NaN,NaN,NaN,44843527,0.000000e+00,0.000000e+00,4.484353e+07
8,1159,Ack avsk på markanläggningar,NaN,NaN,NaN,NaN,NaN,-18168427,0.000000e+00,1.868490e+05,-1.835528e+07
9,1210,Maskiner och andra tekniska an,NaN,NaN,NaN,NaN,NaN,54518197,0.000000e+00,0.000000e+00,5.451820e+07
10,1219,Ack avskr på maskiner o tekn,NaN,NaN,NaN,NaN,NaN,-41156257,0.000000e+00,2.115210e+05,-4.136778e+07
11,1220,Inventarier,NaN,NaN,NaN,NaN,NaN,64173729,0.000000e+00,0.000000e+00,6.417373e+07
12,1226,Park & Tivolianläggningar,NaN,NaN,NaN,NaN,NaN,582479461,0.000000e+00,0.000000e+00,5.824795e+08
13,1228,Ack avsk på tivolianläggningar,NaN,NaN,NaN,NaN,NaN,-357626816,0.000000e+00,1.808887e+06,-3.594357e+08
14,1229,Ack avsk inventarier,NaN,NaN,NaN,NaN,NaN,-56010801,0.000000e+00,2.783690e+05,-5.628917e+07
15,1291,Konst,NaN,NaN,NaN,NaN,NaN,280000,0.000000e+00,0.000000e+00,2.800000e+05
16,1299,Prel avskrivningar,NaN,NaN,NaN,NaN,NaN,-90000,0.000000e+00,8.500000e+04,-1.750000e+05
17,1370,Uppskjuten skattefordran,NaN,NaN,NaN,NaN,NaN,1323699,0.000000e+00,0.000000e+00,1.323699e+06
18,1401,Lager Tyrol,NaN,NaN,NaN,NaN,NaN,1.21023e+06,0.000000e+00,2.353673e+05,9.748650e+05
19,1402,Lager Kaskad,NaN,NaN,NaN,NaN,NaN,0,3.029195e+04,0.000000e+00,3.029195e+04
20,1408,Lager Greenroom,NaN,NaN,NaN,NaN,NaN,13209.1,0.000000e+00,0.000000e+00,1.320910e+04
21,1430,Lager Arbetskläder,NaN,NaN,NaN,NaN,NaN,293320,0.000000e+00,0.000000e+00,2.933200e+05
22,1431,Lager Förbrukningsartiklar,NaN,NaN,NaN,NaN,NaN,925121,1.136090e+04,1.136090e+04,9.251210e+05
23,1432,Lager Godis,NaN,NaN,NaN,NaN,NaN,55908,0.000000e+00,0.000000e+00,5.590800e+04
24,1451,Lager Mat,NaN,NaN,NaN,NaN,NaN,0,3.011318e+04,3.011318e+04,0.000000e+00
25,1453,Lager Kaffe,NaN,NaN,NaN,NaN,NaN,0,4.739200e+02,4.739200e+02,0.000000e+00
26,1454,Lager Glass,NaN,NaN,NaN,NaN,NaN,0,9.000000e+02,9.000000e+02,0.000000e+00
27,1461,Lager Spel,NaN,NaN,NaN,NaN,NaN,915201,0.000000e+00,0.000000e+00,9.152010e+05
28,1462,Lager Souvenirer,NaN,NaN,NaN,NaN,NaN,894255,0.000000e+00,0.000000e+00,8.942550e+05
29,1463,Lager Lotteri,NaN,NaN,NaN,NaN,NaN,467890,0.000000e+00,0.000000e+00,4.678900e+05
...,...,...,...,...,...,...,...,...,...,...,...
94,2813,Webbshopen (skuld),NaN,NaN,NaN,NaN,NaN,-90194,2.793910e+05,3.361630e+05,-1.469660e+05
95,2821,Löneskulder,NaN,NaN,NaN,NaN,NaN,0,5.439637e+06,5.439637e+06,0.000000e+00
96,2860,Kortfristiga skulder till konc,NaN,NaN,NaN,NaN,NaN,-533807725,0.000000e+00,0.000000e+00,-5.338077e+08
97,2890,Övriga kortfristiga skulder,NaN,NaN,NaN,NaN,NaN,-19563.7,7.562136e+04,7.324945e+04,-1.719179e+04
98,2894,prs Presentkort,NaN,NaN,NaN,NaN,NaN,1.14512e+06,2.857400e+04,3.181000e+04,1.141885e+06
99,2899,Dricks,NaN,NaN,NaN,NaN,NaN,-124115,1.251202e+05,9.918420e+04,-9.817897e+04
100,2910,Upplupna löner,NaN,NaN,NaN,NaN,NaN,-683350,6.833497e+05,5.483635e+05,-5.483635e+05
101,2911,Uppl sem ersättning,NaN,NaN,NaN,NaN,NaN,-87196.1,3.528355e+04,7.005426e+04,-1.219668e+05
102,2913,Skuld XL-dagar,NaN,NaN,NaN,NaN,NaN,-173850,1.738495e+05,1.521364e+05,-1.521364e+05
103,2915,Övertidsskuld,NaN,NaN,NaN,NaN,NaN,-171423,1.714231e+05,1.420339e+05,-1.420339e+05
104,2916,Årsarbetstidssaldo,NaN,NaN,NaN,NaN,NaN,-115582,1.155820e+05,0.000000e+00,0.000000e+00
105,2920,Upplupna semesterlöner,NaN,NaN,NaN,NaN,NaN,-5.04317e+06,5.043173e+06,5.263578e+06,-5.263578e+06
106,2942,Prel upparbetade soc avg,NaN,NaN,NaN,NaN,NaN,-1.95743e+06,1.941122e+06,1.926303e+06,-1.942614e+06
107,2955,Löneskatt,NaN,NaN,NaN,NaN,NaN,-4.03941e+06,3.313207e+04,1.654500e+05,-4.171732e+06
108,2971,Övriga förutbetalda intäkter,NaN,NaN,NaN,NaN,NaN,-329900,5.000000e+04,0.000000e+00,-2.799000e+05
109,2976,Förbetald intäkt 25% moms,NaN,NaN,NaN,NaN,NaN,-5.15915e+06,5.952160e+04,5.176728e+05,-5.617300e+06
110,2977,Förbetald intäkt 12% moms,NaN,NaN,NaN,NaN,NaN,0,0.000000e+00,0.000000e+00,0.000000e+00
111,2978,Förbetald intäkt 6% moms,NaN,NaN,NaN,NaN,NaN,-5424.55,0.000000e+00,0.000000e+00,-5.424550e+03
112,2979,Förbetald intäkt 0% moms,NaN,NaN,NaN,NaN,NaN,-29655,0.000000e+00,1.280000e+04,-4.245500e+04
113,2990,Övriga upplupna kostnader och,NaN,NaN,NaN,NaN,NaN,-3.12234e+06,1.869291e+06,2.324321e+06,-3.577370e+06
114,2998,Övriga interimsskulder,NaN,NaN,NaN,NaN,NaN,-690000,0.000000e+00,2.175000e+06,-2.865000e+06
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Totalt rapport:,1.289184e+08,1.494016e+08,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,Urval:,Konto:1000--2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,Artikel:0--99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,Kostnadsställe:0--99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,Kostnadsbärare: --öööööö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,Motpart: --ööööö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,Projekt: --öööööööööö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,Bokslutstransaktioner: N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
answer = input("What do you want to do right now?")

with open("chill.txt", "w") as f:
    f.write(answer)

What do you want to do right now?chill

In [36]:
f=open("st.txt", "r")
f.read()

'Hello from python!'

In [39]:
movies = [["Top Gun", "Risky Business", "Minority report"],["Titanic", "The revenant", "Inception"],["Training Day", "Man on fire", "Flight"]]

with open("movies.csv", "w")as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=",")
    for movie_list in movies:
        spamwriter.writerow(movie_list)

In [40]:
f=open("movies.csv","r")
f.read()

'Top Gun,Risky Business,Minority report\n\nTitanic,The revenant,Inception\n\nTraining Day,Man on fire,Flight\n\n'

In [41]:
read_file = pd.read_csv(r'C:\Users\seosob02\movies.csv')
read_file.to_excel (r'C:\Users\seosob02\movies.xlsx', index = None, header=True)

In [45]:
data = pd.read_excel("movies.xlsx")
data

        Top Gun Risky Business Minority report
0       Titanic   The revenant       Inception
1  Training Day    Man on fire          Flight

In [46]:
data = pd.read_csv("movies.csv")
data

        Top Gun Risky Business Minority report
0       Titanic   The revenant       Inception
1  Training Day    Man on fire          Flight

In [54]:
def hangman(word):
    wrong = 0
    stages = ["",
             "________        ",
             "|               ",
             "|        |      ",
             "|        0      ",
             "|       /|\     ",
             "|       / \     ",
             "|               "
              ]
    rletters = list(word)
    board = ["__"] * len(word)
    win = False
    print("Welcome to Hangman")
    


    while wrong < len(stages)-1:
        
        print("\n")
        msg = "Guess a letter"
        char = input(msg)
        if char in rletters:
            cind = rletters.index(char)
            board[cind]=char
            rletters[cind]= '$'
        else:
            wrong +=1
        print((" ".join(board)))
        e = wrong + 1
        print("\n".join(stages[0: e]))
        if "__" not in board:
            print("You win!")
            print(" ".join(board))
            win = True
            break
    if not win:
        print("\n".join(stages[0: wrong]))
        print("You lose! It was {}.".format(word))
hangman("Arsenal")

Welcome to Hangman


Guess a letterA
A __ __ __ __ __ __



Guess a letterr
A r __ __ __ __ __



Guess a letters
A r s __ __ __ __



Guess a lettere
A r s e __ __ __



Guess a lettern
A r s e n __ __



Guess a lettera
A r s e n a __



Guess a letterl
A r s e n a l

You win!
A r s e n a l

In [6]:
import openpyxl

wb = openpyxl.load_workbook("Matkostnad månad.xlsx")

type(wb)

openpyxl.workbook.workbook.Workbook