In [1]:
import pandas as pd

data = pd.read_excel("Klarna.xlsx")

pd.set_option('display.max_rows', None)

data

data = data[pd.to_numeric(data['Unnamed: 2'], errors='coerce').notnull()]

In [2]:
data[["Unnamed: 2", "Unnamed: 4"]]

   Unnamed: 2 Unnamed: 4
18        688     600424
19         10     600425
20        464     600426
21        928     600427
22        310     600429
23       1766     600430
24       1394     600431
25       1599     600432
26        310     600434
27       -250     597861
28        310     600437
29        310     600438
30        464     600440
31       1392     600441
32       1702     600446
33        310     600447
34        928     600448
35       1996     600449
36        310     600451
37       1376     600452
38        310     600455
39        673     600456
40        310     600457
41       1392     600458
42        793     600460
43        310     600461
44        464     600466
45        310     600467
46        310     600469
47       1188     600470
48        464     600471
49        310     600472
50        310     600473
51       2627     600476
52        310     600477
53         47     600478
54        464     600481
55        464     600482
56        928     600483
57       1522     600484
58        310     600485
59       3317     600486
60        928     600487
61        620     600488
62        594     600489
63        928     600490
64        344     600491
65        620     600495
66       1599     600496
67       3198     600497
68        983     600498
69        928     600499
70       4018     600500
71        310     600502
72        654     600503
73        130     600504
74        310     600505
75       1032     600506

In [3]:
data = data[["Unnamed: 2", "Unnamed: 4"]]

In [4]:
data.columns = ["Belopp", "Ordernummer"]

In [5]:
data

   Belopp Ordernummer
18    688      600424
19     10      600425
20    464      600426
21    928      600427
22    310      600429
23   1766      600430
24   1394      600431
25   1599      600432
26    310      600434
27   -250      597861
28    310      600437
29    310      600438
30    464      600440
31   1392      600441
32   1702      600446
33    310      600447
34    928      600448
35   1996      600449
36    310      600451
37   1376      600452
38    310      600455
39    673      600456
40    310      600457
41   1392      600458
42    793      600460
43    310      600461
44    464      600466
45    310      600467
46    310      600469
47   1188      600470
48    464      600471
49    310      600472
50    310      600473
51   2627      600476
52    310      600477
53     47      600478
54    464      600481
55    464      600482
56    928      600483
57   1522      600484
58    310      600485
59   3317      600486
60    928      600487
61    620      600488
62    594      600489
63    928      600490
64    344      600491
65    620      600495
66   1599      600496
67   3198      600497
68    983      600498
69    928      600499
70   4018      600500
71    310      600502
72    654      600503
73    130      600504
74    310      600505
75   1032      600506

In [6]:
data["Konto"] = 1570
data[["Konto", "Belopp", "Ordernummer"]]

    Konto Belopp Ordernummer
18   1570    688      600424
19   1570     10      600425
20   1570    464      600426
21   1570    928      600427
22   1570    310      600429
23   1570   1766      600430
24   1570   1394      600431
25   1570   1599      600432
26   1570    310      600434
27   1570   -250      597861
28   1570    310      600437
29   1570    310      600438
30   1570    464      600440
31   1570   1392      600441
32   1570   1702      600446
33   1570    310      600447
34   1570    928      600448
35   1570   1996      600449
36   1570    310      600451
37   1570   1376      600452
38   1570    310      600455
39   1570    673      600456
40   1570    310      600457
41   1570   1392      600458
42   1570    793      600460
43   1570    310      600461
44   1570    464      600466
45   1570    310      600467
46   1570    310      600469
47   1570   1188      600470
48   1570    464      600471
49   1570    310      600472
50   1570    310      600473
51   1570   2627      600476
52   1570    310      600477
53   1570     47      600478
54   1570    464      600481
55   1570    464      600482
56   1570    928      600483
57   1570   1522      600484
58   1570    310      600485
59   1570   3317      600486
60   1570    928      600487
61   1570    620      600488
62   1570    594      600489
63   1570    928      600490
64   1570    344      600491
65   1570    620      600495
66   1570   1599      600496
67   1570   3198      600497
68   1570    983      600498
69   1570    928      600499
70   1570   4018      600500
71   1570    310      600502
72   1570    654      600503
73   1570    130      600504
74   1570    310      600505
75   1570   1032      600506

In [7]:
data["B"] = None
data["C"]= None
data["D"] = None
data["E"] = None
data = data[["Konto", "B", "C", "D", "E", "Belopp", "Ordernummer"]]

data

    Konto     B     C     D     E Belopp Ordernummer
18   1570  None  None  None  None    688      600424
19   1570  None  None  None  None     10      600425
20   1570  None  None  None  None    464      600426
21   1570  None  None  None  None    928      600427
22   1570  None  None  None  None    310      600429
23   1570  None  None  None  None   1766      600430
24   1570  None  None  None  None   1394      600431
25   1570  None  None  None  None   1599      600432
26   1570  None  None  None  None    310      600434
27   1570  None  None  None  None   -250      597861
28   1570  None  None  None  None    310      600437
29   1570  None  None  None  None    310      600438
30   1570  None  None  None  None    464      600440
31   1570  None  None  None  None   1392      600441
32   1570  None  None  None  None   1702      600446
33   1570  None  None  None  None    310      600447
34   1570  None  None  None  None    928      600448
35   1570  None  None  None  None   1996      600449
36   1570  None  None  None  None    310      600451
37   1570  None  None  None  None   1376      600452
38   1570  None  None  None  None    310      600455
39   1570  None  None  None  None    673      600456
40   1570  None  None  None  None    310      600457
41   1570  None  None  None  None   1392      600458
42   1570  None  None  None  None    793      600460
43   1570  None  None  None  None    310      600461
44   1570  None  None  None  None    464      600466
45   1570  None  None  None  None    310      600467
46   1570  None  None  None  None    310      600469
47   1570  None  None  None  None   1188      600470
48   1570  None  None  None  None    464      600471
49   1570  None  None  None  None    310      600472
50   1570  None  None  None  None    310      600473
51   1570  None  None  None  None   2627      600476
52   1570  None  None  None  None    310      600477
53   1570  None  None  None  None     47      600478
54   1570  None  None  None  None    464      600481
55   1570  None  None  None  None    464      600482
56   1570  None  None  None  None    928      600483
57   1570  None  None  None  None   1522      600484
58   1570  None  None  None  None    310      600485
59   1570  None  None  None  None   3317      600486
60   1570  None  None  None  None    928      600487
61   1570  None  None  None  None    620      600488
62   1570  None  None  None  None    594      600489
63   1570  None  None  None  None    928      600490
64   1570  None  None  None  None    344      600491
65   1570  None  None  None  None    620      600495
66   1570  None  None  None  None   1599      600496
67   1570  None  None  None  None   3198      600497
68   1570  None  None  None  None    983      600498
69   1570  None  None  None  None    928      600499
70   1570  None  None  None  None   4018      600500
71   1570  None  None  None  None    310      600502
72   1570  None  None  None  None    654      600503
73   1570  None  None  None  None    130      600504
74   1570  None  None  None  None    310      600505
75   1570  None  None  None  None   1032      600506

In [8]:
Total = data["Belopp"].sum()

In [9]:
Total = Total *-1

Total

-50646

In [10]:
data.loc[-1] = [1922, None, None, None, None, Total, None]

data

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

      Konto     B     C     D     E Belopp Ordernummer
 18  1570.0  None  None  None  None    688      600424
 19  1570.0  None  None  None  None     10      600425
 20  1570.0  None  None  None  None    464      600426
 21  1570.0  None  None  None  None    928      600427
 22  1570.0  None  None  None  None    310      600429
 23  1570.0  None  None  None  None   1766      600430
 24  1570.0  None  None  None  None   1394      600431
 25  1570.0  None  None  None  None   1599      600432
 26  1570.0  None  None  None  None    310      600434
 27  1570.0  None  None  None  None   -250      597861
 28  1570.0  None  None  None  None    310      600437
 29  1570.0  None  None  None  None    310      600438
 30  1570.0  None  None  None  None    464      600440
 31  1570.0  None  None  None  None   1392      600441
 32  1570.0  None  None  None  None   1702      600446
 33  1570.0  None  None  None  None    310      600447
 34  1570.0  None  None  None  None    928      600448
 35  1570.0  None  None  None  None   1996      600449
 36  1570.0  None  None  None  None    310      600451
 37  1570.0  None  None  None  None   1376      600452
 38  1570.0  None  None  None  None    310      600455
 39  1570.0  None  None  None  None    673      600456
 40  1570.0  None  None  None  None    310      600457
 41  1570.0  None  None  None  None   1392      600458
 42  1570.0  None  None  None  None    793      600460
 43  1570.0  None  None  None  None    310      600461
 44  1570.0  None  None  None  None    464      600466
 45  1570.0  None  None  None  None    310      600467
 46  1570.0  None  None  None  None    310      600469
 47  1570.0  None  None  None  None   1188      600470
 48  1570.0  None  None  None  None    464      600471
 49  1570.0  None  None  None  None    310      600472
 50  1570.0  None  None  None  None    310      600473
 51  1570.0  None  None  None  None   2627      600476
 52  1570.0  None  None  None  None    310      600477
 53  1570.0  None  None  None  None     47      600478
 54  1570.0  None  None  None  None    464      600481
 55  1570.0  None  None  None  None    464      600482
 56  1570.0  None  None  None  None    928      600483
 57  1570.0  None  None  None  None   1522      600484
 58  1570.0  None  None  None  None    310      600485
 59  1570.0  None  None  None  None   3317      600486
 60  1570.0  None  None  None  None    928      600487
 61  1570.0  None  None  None  None    620      600488
 62  1570.0  None  None  None  None    594      600489
 63  1570.0  None  None  None  None    928      600490
 64  1570.0  None  None  None  None    344      600491
 65  1570.0  None  None  None  None    620      600495
 66  1570.0  None  None  None  None   1599      600496
 67  1570.0  None  None  None  None   3198      600497
 68  1570.0  None  None  None  None    983      600498
 69  1570.0  None  None  None  None    928      600499
 70  1570.0  None  None  None  None   4018      600500
 71  1570.0  None  None  None  None    310      600502
 72  1570.0  None  None  None  None    654      600503
 73  1570.0  None  None  None  None    130      600504
 74  1570.0  None  None  None  None    310      600505
 75  1570.0  None  None  None  None   1032      600506
-1   1922.0   NaN   NaN   NaN   NaN -50646         NaN

In [23]:
def test(x):
    return x*-1

data["Belopp"] = data["Belopp"].apply(lambda x : x*-1)

data["Belopp"] = data["Belopp"].astype(int).replace('\.o', '', regex = True)
data["Konto"] = data["Konto"].astype(int).replace('\.o', '', regex = True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [24]:
data

     Konto     B     C     D     E  Belopp Ordernummer
 18   1570  None  None  None  None     688      600424
 19   1570  None  None  None  None      10      600425
 20   1570  None  None  None  None     464      600426
 21   1570  None  None  None  None     928      600427
 22   1570  None  None  None  None     310      600429
 23   1570  None  None  None  None    1766      600430
 24   1570  None  None  None  None    1394      600431
 25   1570  None  None  None  None    1599      600432
 26   1570  None  None  None  None     310      600434
 27   1570  None  None  None  None    -250      597861
 28   1570  None  None  None  None     310      600437
 29   1570  None  None  None  None     310      600438
 30   1570  None  None  None  None     464      600440
 31   1570  None  None  None  None    1392      600441
 32   1570  None  None  None  None    1702      600446
 33   1570  None  None  None  None     310      600447
 34   1570  None  None  None  None     928      600448
 35   1570  None  None  None  None    1996      600449
 36   1570  None  None  None  None     310      600451
 37   1570  None  None  None  None    1376      600452
 38   1570  None  None  None  None     310      600455
 39   1570  None  None  None  None     673      600456
 40   1570  None  None  None  None     310      600457
 41   1570  None  None  None  None    1392      600458
 42   1570  None  None  None  None     793      600460
 43   1570  None  None  None  None     310      600461
 44   1570  None  None  None  None     464      600466
 45   1570  None  None  None  None     310      600467
 46   1570  None  None  None  None     310      600469
 47   1570  None  None  None  None    1188      600470
 48   1570  None  None  None  None     464      600471
 49   1570  None  None  None  None     310      600472
 50   1570  None  None  None  None     310      600473
 51   1570  None  None  None  None    2627      600476
 52   1570  None  None  None  None     310      600477
 53   1570  None  None  None  None      47      600478
 54   1570  None  None  None  None     464      600481
 55   1570  None  None  None  None     464      600482
 56   1570  None  None  None  None     928      600483
 57   1570  None  None  None  None    1522      600484
 58   1570  None  None  None  None     310      600485
 59   1570  None  None  None  None    3317      600486
 60   1570  None  None  None  None     928      600487
 61   1570  None  None  None  None     620      600488
 62   1570  None  None  None  None     594      600489
 63   1570  None  None  None  None     928      600490
 64   1570  None  None  None  None     344      600491
 65   1570  None  None  None  None     620      600495
 66   1570  None  None  None  None    1599      600496
 67   1570  None  None  None  None    3198      600497
 68   1570  None  None  None  None     983      600498
 69   1570  None  None  None  None     928      600499
 70   1570  None  None  None  None    4018      600500
 71   1570  None  None  None  None     310      600502
 72   1570  None  None  None  None     654      600503
 73   1570  None  None  None  None     130      600504
 74   1570  None  None  None  None     310      600505
 75   1570  None  None  None  None    1032      600506
-1    1922   NaN   NaN   NaN   NaN  -50646         NaN

In [25]:
data.to_csv('file2.csv', index=False, header=False, sep = ";")